.form-send {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    width: 710px;
    @media only screen and (0 <= width <= 479px) {
        width: 100%;
    }
    &__inputs-row {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &:first-child {
            gap: 30px;
        }
        &:last-child {
            justify-content: flex-start;
            gap: 16px;
        }
        @media only screen and (0 <= width <= 479px) {
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
        }
    }
    &__label {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        @media only screen and (0 <= width <= 479px) {
            align-items: center;
        }
    }
    &__label-title {
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        color: #000;
        margin-bottom: 6px;
        @media only screen and (0 <= width <= 479px) {
            width: 100%;
            text-align: start;
        }
    }
    &__input {
        position: relative;
        font-weight: 300;
        outline: none;
        border: none;
        padding-inline: 20px;
        border-radius: 10px;
        width: 100%;
        height: 60px;
        background-color: #EDEDED;
        &::placeholder {
            color: #a8a8a8;
        }
        @media only screen and (0 <= width <= 479px) {
            width: 100%;
        }
    }
    &__question {
        position: relative;
        font-weight: 300;
        outline: none;
        border: none;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        height: 180px !important;
        background-color: #EDEDED;
        resize: none;
        &::placeholder {
            color: #a8a8a8;
        }
        @media only screen and (0 <= width <= 479px) {
            width: 100%;
        }
    }
    &__button {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
        border-radius: 10px;
        width: 300px;
        height: 60px;
        color: #ffffff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.0549019608), 0 -1px rgba(255, 255, 255, 0.5019607843);
        background: linear-gradient(to top left, #880022 0%, #cc0033 100%);
        transition: all 0.4s;
        &:hover {
            background-color: #E8511B;
        }
        span {
            font-weight: 600;
            font-size: 14px;
        }
        &:disabled {
            opacity: 0.45;
            pointer-events: none;
        }
        @media only screen and (0 <= width <= 479px) {
            width: 100%;
        }
    }
    &__approval {
        position: relative;
        top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        @media only screen and (0 <= width <= 479px) {
            width: 100%;
            justify-content: center;
        }
        input {
            position: relative;
            appearance: none;
            width: 20px;
            height: 20px;
            border: 1px solid #880022;
            border-radius: 4px;
            cursor: pointer;
            &:checked {
                background-color: #880022;
                background-image: url("/img/Icons/checked_icon.svg");
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        span {
            width: 100%;
            font-weight: 400;
            font-size: 12px;
            color: #BFBFBF;
            a {
                text-decoration: underline;
                color: #5c5c5c;
                transition: all 0.4s;
                &:hover {
                    color: #000000;
                }
            }
            @media only screen and (0 <= width <= 479px) {
                font-size: 10px;
            }
        }
    }
}