.popup {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
    z-index: 999;
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 7px 7px rgba(23, 23, 23, 0.1);
    background: rgba(0,0,0,0.5);
    transition: opacity 0.4s;
    &__cont, &__extra-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    &__extra-wrapper {
        padding-top: 40px;
        padding-inline: 70px;
        align-items: flex-start;
        width: 1000px;
        height: 440px;
        background-color: #ffffff;
        box-shadow: 0 20px 15px -15px rgba(0, 0, 0, 0.4);
        @media only screen and (0 <= width <= 479px) {
            width: 100%;
            height: auto;
            padding-block: 40px 60px;
            padding-inline: 18px;
        }
    }
    &__close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        cursor: pointer;
        transition: all 0.4s;
        z-index: 3;
        &:hover {
            transform: scale(1.2, 1.2);
        }
        @media only screen and (0 <= width <= 479px) {
            top: 10px;
            right: 10px;
            img {
                width: 32px;
            }
        }
    }
    &__title-h6 {
        font-weight: 800;
        font-size: 48px;
        line-height: 55px;
        color: #171717;
        width: 476px;
        margin-bottom: 20px;
        @media only screen and (0 <= width <= 479px) {
            font-size: 28px;
            width: 100%;
            text-align: center;
        }
    }
    &__subtitle {
        font-weight: 200;
        font-size: 18px;
        line-height: 25px;
        color: #111111;
        width: 476px;
        margin-bottom: 30px;
        @media only screen and (0 <= width <= 479px) {
            text-align: center;
            font-size: 14px;
            line-height: normal;
            width: 100%;
        }
    }
}