:root {
  --background: #ffffff;
  --font-color: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font-color);
  font-family: var(--manrope), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input, textarea {
  font-family: var(--manrope), sans-serif;
  border: none;
}

button {
  font-family: var(--manrope), sans-serif;
  border: none;
  cursor: pointer;
  background: none;
  &:active {
    transform: scale(0.92, 0.92);
  }
}

ul {
  list-style-type: none;
}

.video-block {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;  
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  user-select: none;
  object-fit: cover;
  filter: brightness(0.35);
  background-color: #171717;
  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}

