.section-4 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    padding-bottom: 100px;
    &__cont {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 900px;
    }
    &__title-h3 {
        position: relative;
        width: 100%;
        font-weight: 800;
        font-size: 44px;
        text-align: center;
        color: #303030;
        margin-bottom: 20px;
        @media only screen and (0 <= width <= 479px) {
            font-size: 40px;
            width: 100%;
            padding-inline: 0;
            margin-bottom: 30px;
            text-align: center;
        }
    }
    &__p {
        position: relative;
        font-weight: 300;
        color: #303030;
        font-size: 20px;
        text-align: center;
        line-height: 150%;
        margin-bottom: 240px;
        @media only screen and (0 <= width <= 479px) {
            width: 90%;
            font-size: 18px;
        }
    }
    &__fon-slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 750px;
        img {
            position: absolute;
            top: 150px;
            left: 50%;
            transform: translate(-50%);
            width: 580px;
            @media only screen and (0 <= width <= 479px) {
                top: 220px;
                width: 350px;
            }
        }
        @media only screen and (0 <= width <= 479px) {

        }
    }
    &__direct-slider-layout {
        position: absolute;
        top: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 580px;
        z-index: 0;
        @media only screen and (0 <= width <= 479px) {
            top: 290px;
            padding-inline: 10px;
        }
    }
    &__direct-slider {
        position: relative;
        width: 100%;
        height: 460px;
    }
    &__direct-slide {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 700px !important;
        height: 360px;
        cursor: grab;
        @media only screen and (0 <= width <= 479px) {
            width: 100% !important;
        }
    }
    &__direct-slide-card {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        box-shadow: 0 10px 20px #00000080, 0 -1px #ffffff80;
    }
    &__direct-slide-text {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        bottom: 30px;
        left: 30px;
        @media only screen and (0 <= width <= 479px) {
            bottom: 18px;
            left: 18px;
        }
    }
    &__direct-slide-country {
        font-weight: 600;
        color: #fff;
        font-size: 40px;
        margin-bottom: 10px;
        text-shadow: 1px 1px 1px #000;
        @media only screen and (0 <= width <= 479px) {
            font-size: 36px;
        }
    }
    &__direct-slide-towns {
        position: relative;
        height: 22px;
        font-weight: 300;
        color: #ffffff;
        font-size: 18px;
        margin-bottom: 10px;
        text-shadow: 1px 1px 1px #000;
        @media only screen and (min-width: 321px) and (max-width: 480px) {
            font-size: 14px;
        } 
    }
    &__direct-slide-price {
        position: relative;
        font-weight: 800;
        color: #fde803;
        font-size: 24px;
        text-shadow: 1px 1px 1px #000;
        @media only screen and (0 <= width <= 479px) {
            font-size: 20px;
        }
    }
}

#russia {
    background: url('/img/Section-4/russia_dir.png') no-repeat;
}
#turkey {
    background: url('/img/Section-4/turkey.jpg') no-repeat;
}
#egypt {
    background: url('/img/Section-4/egypt.jpg') no-repeat;
}
#mal {
    background: url('/img/Section-4/maldiv_dir.png') no-repeat;
}
#oae {
    background: url('/img/Section-4/oae_dir.png') no-repeat;
}